* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

body {
  background-color: #f7f7f7;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  z-index: 1;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header aside {
  display: flex;
  gap: 20px;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 80px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: 750px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.login-form {
  background-color: white;
  border: 1px solid #f1c5d3;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.ip-protect {
  font-size: 14px;
  color: #333;
}

.toggle-on {
  color: #ff0045;
  font-weight: bold;
}

.login-btn {
  background-color: #ff0045;
  color: white;
  width: 300px;
  height: 45px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
}

.kakao-login {
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  justify-content: center;
}

#customNaverLoginBtn {
  margin: 10px 0;
}

#section4 {
  height: auto;
  position: relative;
  padding: 40px 0 0 50px;
  background-color: #575252;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footerMenu li {
  margin-right: 20px;
}
.footerMenu li a {
  color: white;
  font-size: 13px;
}

.footerMenu li a:visited {
  color: white;
}
.address {
  padding-top: 40px;
  margin-bottom: 70px;
}

.footerMenu {
  display: flex;
  flex-direction: row;
}

.copyright {
  margin-left: 40px;
}

#naverIdLogin {
  display: none; /* 네이버에서 기본 생성하는 버튼 숨기기 */
}
